doctype
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Login
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css", rel="stylesheet")
        link(href="/CSS/login.css", rel="stylesheet")
    body
        a(href='/twitter/login') Login Using Twitter!

