extends layout
block navbar
    nav.navbar(role="navigation", aria-label="main navigation")
        .navbar-brand
            img.navbar-item(src="/images/nyt_logo.png" Id="headline")
        //a.navbar-item(href="/") Login
        a.navbar-item(href="/home") Home
        a.navbar-item(href="/search") Search Articles
        a.navbar-item(href="/logout") Logout
    .section
        .container
            block main-content