extends layout
block navbar
    nav.navbar(role="navigation", aria-label="main navigation")
        .navbar-brand
            h1.navbar-item NYTimes
        a.navbar-item(href="/") Home
        a.navbar-item(href="/search") Search Articles
    .section
        .container
            block main-content