doctype
html
    head
        meta(charset='UTC-8')
        title Search results
    body
        h2 results for your search #[span#result]
            ul(id='list')
                li
       
    script(src='/js/web_ajax.js')