html {
    height:100%;
    margin:0;
}
.navbar {
    background-color: lightblue;
}
body {
    background-color: lightblue;
    min-height: 100%;
    margin: 0;

    
}
#ArticleTable{
    border: 2px solid #cccccc;
    margin: 5px;
    }

